body {
  font:normal 68% verdana,arial,helvetica;
  color:#000000;
}
table tr td, table tr th {
  font-size: 12px;
}
table.details tr th{
  font-weight: bold;
  text-align:left;
  background:#a6caf0;
}
table.details tr td{
  background:#eeeee0;
}
h1 {
  margin: 0px 0px 5px; font: 165% verdana,arial,helvetica
}
h2 {
  margin-top: 1em; margin-bottom: 0.5em; font: bold 125% verdana,arial,helvetica
}
.Error {
  font-weight:bold; color:purple;
}
.Failure {
  font-weight:bold; color:red;
}
